[submodule "onsi/gomega"]
	path = github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "onsi/ginkgo"]
    path = src/github.com/onsi/ginkgo
	url = https://github.com/truongsinh/ginkgo